
@{
    ViewBag.Title = "记录";
    ViewBag.CurrentNav = 1;
}

<h2>@ViewBag.Title</h2>

<ol>
    <li>使用VS2015创建空的Web项目，勾选 WEB API 和 MVC </li>
    <li>创建Home控制器，并添加视图</li>
    <li>添加导航，且当前导航高亮</li>
</ol>
