
@{
    ViewBag.Title = "记录";
    ViewBag.CurrentNav = 1;
}

<h2>@ViewBag.Title</h2>

<ol>
    <li>使用VS2015创建空的Web项目，勾选 WEB API 和 MVC </li>
    <li>创建Home控制器，并添加视图</li>
    <li>添加导航，且当前导航高亮</li>
    <li>使用Log4net，来记录日志（这里将日志记录到了文件，随着系统的增加，可以将日志全部记录到一个库中，这样后期可以进行分析。）</li>
    <li>添加错误提示页（500页面、404页面）</li>
</ol>
